{% extends "base.html" %}
{% block content %}
<div class="card">
  <div class="card-content">
    <span class="card-title">Funcionários

      <button class="waves-effect waves-light btn green">
          <i class="material-icons"></i>Novo
      </button>
  </span>
    <table>
      <thead>
        <tr>
          <th>CPF</th>
          <th>NOME</th>
          <th>ADICIONADO EM</th>
          <th>GERENCIADO POR</th>
          <th>AÇÕES</th>
        </tr>
      </thead>
      
      <tbody>
        {% for funcionario in funcionarios.values() %}
        <tr>
          <td>{{ funcionario.cpf }}</td>
          <td>{{ funcionario.nome }}</td>
          <td>{{ funcionario.adicionado_em }}</td>
          {% if funcionario.gerente %}
            <td>{{funcionario.gerente}}</td>
          {% else %}
            <td>- -</td>
          {% endif %}
          <td>   
            <button class="waves-effect waves-light btn blue"><i class="material-icons left">search</i>Detalhes</button>
            <button class="waves-effect waves-light btn red"><i class="material-icons left">delete</i>Excluir</button>
        </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}