{% extends "base.html" %}
{% block content %}
<div class="card">
  <div class="card-content">
    <p>Nome: {{dados.0.1}}</p>
    <p>CPF: {{cpf}}</p>
    <p>Endereço: {{endereco.0.0}}, {{endereco.0.1}}, {{endereco.0.2}} - {{endereco.0.3}}</p>  
    <ul>Telefones:
      {% for telefone in telefones %}
        <li>{{telefone.0}}</li>
      {% endfor %}
    </ul>
    {% if gerente %}
      <p>Gerenciado por: <a href="/funcionarios/{{gerente.0.0}}">{{gerente.0.1}} - {{gerente.0.0}}</a></p>
    {% elif gerenciados %}
      <ul> Responsável por:
        {% for gerenciado in gerenciados %}
          <li><a href="/funcionarios/{{gerenciado.0}}">{{gerenciado.1}} - {{gerenciado.0}}</a></li>
        {% endfor %}
      </ul>
    {% endif %}
    {% if pedidos_clientes %}
      <ul>
        <h6><b>Pedidos vendidos</b></h6>
        {% for pedido in pedidos_clientes %}
          <li><a href="/pedidos/clientes/{{pedido.0}}">Pedido {{pedido.0}}</a> - Total: {{pedido.1}}</li>
        {% endfor %}
      </ul>
    {% endif %}
    {% if pedidos_fornecedores %}
      <ul>
        <h6><b>Pedidos feitos ao fornecedor</b></h6>
        {% for pedido in pedidos_fornecedores %}
          <li><a href="/pedidos/fornecedores/{{pedido.0}}">Pedido {{pedido.0}}</a> - Total: {{pedido.1}}</li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
</div>
{% endblock %}