{% extends "base.html" %}
{% block content %}
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">Sistema de gerenciamento do depósito Sonhamos em Passar Direto</h1>
      <br><br>
    </div>
  </div>

  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m6">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Velocidade</h5>

            <p class="light center">Esqueça passar horas folheando cadernos procurando quem comprou fiado</p>
          </div>
        </div>

        <div class="col s12 m6">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Feito pro gerente</h5>

            <p class="light center">Tenha acesso as informaçoes dos seus funcionários</p>
          </div>
        </div>

        <!-- <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Easy to work with</h5>

            <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
          </div>
        </div> -->
      </div>

    </div>
    <br><br>
  </div>
{% endblock %}