{% extends "base.html" %}

{% block head %}
<script>
    $(document).ready(function () {
        $('select').formSelect();
    });
</script>
<script>
    $(document).ready(function () {
        $('.collapsible').collapsible();
    });
</script>
{% endblock %}

{% block content %}
<div class="card">
  <div class="card-content">
    <span class="card-title">Nova Venda
        
        <form method="post">
            {{ form.csrf_token }}
            <div class="s10 offset-s1">
                <div class="s12">
                    {{ form.id.label }}
                    {{ form.id() }}
                </div>
                <div class="s12">
                    {{ form.data_pedido.label }}
                    {{ form.data_pedido() }}
                </div>
                <div class="s12">
                    {{ form.funcionario_cpf.label }}
                    {{ form.funcionario_cpf() }}
                </div>
                <div class="s12">
                    {{ form.id_produto_pedido.label }}
                    {{ form.id_produto_pedido() }}
                </div>
                <div>
                    <button type="submit"
                        class=" col l12 green waves-light btn-large"> Cadastrar
                    </button>
                </div>
            </div>
        </form>
      
  </span>
</div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
      var elems = document.querySelectorAll('select');
      var instances = M.FormSelect.init(elems, options);
    });

  </script>
{% endblock %}