{% extends "base.html" %}
{% block content %}
<div class="card">
  <div class="card-content">
    <span class="card-title">Produtos

      <button class="waves-effect waves-light btn green">
          <i class="material-icons"></i>Novo
      </button>
  </span>
    <table>
      <thead>
        <tr>
          <th style="text-align: center;">ID</th>
          <th style="text-align: center;">NOME</th>
          <th style="text-align: center;">PREÇO COMPRA</th>
          <th style="text-align: center;">PREÇO VENDA</th>
          <th style="text-align: center;">ESTOQUE</th>
          <th style="text-align: center;">TEOR ALCOOLICO (%)</th>
        </tr>
      </thead>
      
      <tbody>
        {% for item in produtos %}
        <tr>
          {% for elem in item %}
        <td style="text-align: center;">{{ elem }}</td>
        {% endfor %}
        <td>   
          <button class="waves-effect waves-light btn blue"><i class="material-icons left">search</i>Detalhes</button>
          <button class="waves-effect waves-light btn red"><i class="material-icons left">delete</i>Excluir</button>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
</div>
</div>
{% endblock %}